<%- include("header.ejs") -%>

<div class="ali">
  <div class="wrapper down">
    <h1> &#8377 <%= balan %> </h1>
    <form action="/dashboard">
      <button class="btn btn-success btn-lg">GO TO DASHBOARD</button>
    </form>
  </div>
</div>

<%- include("footer.ejs") -%>
